.pells-page .filter-box-position {
  margin: 10px;
  position: absolute;
  right: 10px;
}

.filter-box {
  position:relative;
  right: 0;
  top: 0;
  z-index: 100;
}

.filter-box li {
  margin-bottom: 18px;
}

.filter-box .bpm-slider-container {
  width: 92%;
  margin: 0px auto;
  padding-bottom: 50px;
}

.filter-box .bpm-title {
  font-weight: bold;
}

.filter-box .bpm-title::after {
  content: ':';
  margin-right: 12px;
}


.filter-box .bpm-display {
  display: inline-block;
  float: left;
  background-color: #CCC;
  padding: 4px;
  margin-right: 1px;
  width: 35px;
  text-align: center;
  border-radius: 6px;
  vertical-align: middle;
}

.filter-box .slider-container {
  margin-left: 55px;
  padding-top: 4px;
}

