.pell-detail .download-list { 
  padding: 6px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.pell-detail li.pell-detail-fake-tab {
  max-width: 80%;
}

.pell-detail .download-list li.dl-list {
  margin-bottom: 4px;
  cursor: default;
}

.pell-detail .download-list li a.artist,
.pell-detail .download-list li a.ccm-link
{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.pell-detail .download-list li.dl-list .ext {
   text-transform: uppercase;
   float: right;
}

.pell-detail .download-list li.dl-list .nic {
   text-transform: lowercase;
   font-size: 12px;
}

.pell-detail .download-list li.dl-list button.sm-download {
  padding: 4px 6px;
  font-size: 14px;
}

