.navbar-brand img {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  border-radius: 10px;
  border: 1px solid;
  background-image: -webkit-linear-gradient(top, #111155 0%, #448 100%);
  background-image: -o-linear-gradient(top, #111155 0%, #448 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#111155), to(#448));
  background-image: linear-gradient(to bottom, #111155 0%, #448 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111155', endColorstr='#ff444488', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  margin-bottom: 0px;
}

/* .pell-browser ul.pagination li a, */
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c55 0%, #226 100%);
  background-image: -o-linear-gradient(top, #3c3c55 0%, #226 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c55), to(#226));
  background-image: linear-gradient(to bottom, #3c3c55 0%, #226 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c55', endColorstr='#ff222266', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  margin-bottom: 0px;
}

.outlet-wrap {
  margin-bottom: 60px;
}

.loading-screen {
  opacity: 0.5;
}

.footer-pad {
  padding-bottom: 100px;
}

.pells-img {
  background-image: url('../images/front-page.jpg');
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer-pad {
  padding-bottom: 100px;
}

.pells-img h1 {
  color: white;
  margin-top: 150px;
  font-size: 60pt;
  max-width: 440px;
  text-shadow: 3px 3px black;
 }

.pells-img h3 {
  color: antiquewhite;
  max-width: 440px;
  text-shadow: 2px 2px black;
}

