.pells-page .page-header h2 a {
  font-size: 14px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  left: -130px;
}

.pells-page .page-header h2 img {
  border-radius: 15px;
  box-shadow: 4px 7px 14px #AAA;
  margin-right: 18px;
}

.pell-detail-description,
.pells-page .tab-content,
.pells-page .nav-tabs > li.active a {
  background-color: #fcfcfc;
}

.pell-browser {
  margin-bottom: 40px;
}

.pell-browser .nav-tabs > li > a.active {
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.pell-browser .nav-tabs .badge {
  font-size: 9px;
  font-weight: normal;
  background-color: brown;
}

.pell-browser .tab-content {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.pell-browser .tab-content ul {
  margin: 0px;
  padding: 8px;
  min-height: 316px;
  padding-left: 0px;
  padding-right: 0px;
}

.pell-browser .tab-content li.pell {
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 8px;
}


.pell-browser span.bpm {
  float: right;
}

.pell-browser .pell .artist {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 15%;
  overflow: hidden;
  white-space: nowrap;
}

.pells-page a.artist,
.pells-page span.artist a {
  font-style: italic;
  font-size: 12px;
  color: #3c3c55;
 }

.pell-browser .pell .title {
  width: 63%;
  margin-left: 5px;
  padding-left: 5px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.pell-browser .pell .title:hover {
  background-color: #e2e2e2;
}

.page-header .user-search-results a {
  display: inline-block;
  margin-left: 18px;
  color: #999;
  border: 1px solid;
  padding: 4px;
  border-radius: 3px;
}

.page-header .user-search-results a:hover {
  background-color: #777;
  color: white;
  text-decoration: none;
}

.pell-play {
  display: inline-block;
  float: left;
  margin-right: 12px;
  padding: 3px 7px 3px 9px;
  border-radius: 50%;
}

