
.navbar {
  margin-bottom: 0px;
}
.navbar-collapse {
    padding-left: 2%;

}

.collapse .navbar-nav .dropdown-toggle {
  color: #9d9d9d;
}
.collapse .navbar-nav > li > a {
  margin-top: 10px; 
}
.collapse .navbar-nav > li > input,
.collapse .navbar-nav > li > div {
  margin-top: 17px;
}
.collapse .form-group {
  margin-top: 8px;
  margin-bottom: 0px
  padding: 0px;
}


/* upload page */

.upload-page .extras li {
  padding-bottom: 20px;
}

div.tags {
  padding: 10px 0;
}

.upload-page .fa-youtube-play {
  font-size: 120%;
}
.upload-page a[href*="/people"] {
  font-size: 22px;
  color: black;
}

.trackbacks h3 + a {
  margin-left: 12px;
  vertical-align: text-bottom;
}
.upload-page .list-group-item {
  border-color: transparent;
}




/* expanding buttons */
.btn-exp {
  position: relative;
  background-repeat: repeat-x;
  background-color: transparent;
  border: 0;
  background-image: url('../images/buttons.png');

  /* override these: */  
  background-position: 0px 0px;
  height: 31px;  
  /* margin-right >= ::after width
     margin-left  >= ::before width */
  margin: 0 15px;
}

.btn-exp::before,
.btn-exp::after {
  content: ' ';
  position: absolute;
  background-color: transparent;
  top: 0;
  background-image: url('../images/button-heads.png');

  /* height matches above */  
  height: 31px;
}
.btn-exp::before {
  width: 15px;
  left: -15px;
}
.btn-exp::after {
  width: 15px;
  right: -15px;
}

a.btn-exp:hover {
  text-decoration: none;
  color: white;
}

.btn-tag {
  height: 31px;
  background-position: 0px 0px;
  margin-right: 36px;
  margin-bottom: 12px;
  display: inline-block;
  font-weight: 500;
  color: #444;
  padding-top: 5px;
  padding-right: 8px;
  font-family: Verdana;
  font-size: 11px;
}

.editable .btn-tag {
  padding-top: 3px;
}
.editable .btn-tag i {
   color: goldenrod;
}

.editable .btn-tag span {
  float: right;
  padding-top: 3px;
  margin-left: 4px;
}

.btn-tag::before {
  height: 31px;
  background-position: 0px 0px;
  left: -25px;
  width: 25px;
}

.btn-tag::after {
  height: 31px;
  background-position: -90px 0px;
  right: -10px;
  width: 10px;
}

.actions {
  padding-left: 0px;
}
.actions > li {
  margin-bottom: 15px;  
}
.actions-centered > li {
  text-align: center;
}


/* query page */

.tags-list {
  height: 120px;
  overflow: auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #ddd;
  border-radius: 8px;
}

.tags-list i {
  vertical-align: middle;
}

.tags-list li {
  cursor: pointer;
  margin-left: -25px;
  padding-left: 10px;
  border: 1px solid transparent;;
  margin-right: 10px;
}

.tags-list li:hover {
  border: 1px solid #999;
  border-radius: 4px;
}

.empty-query li {
  margin-bottom: 15px;
}

.empty-query  li {
  margin-top: 35px;
  line-height: 2.0;
}

.empty-query  li > i {
  vertical-align: middle;
  color: orange;
  font-size: 20px;
}

/* user page */
.img-circle {
  box-shadow: 4px 4px 8px #999;
  margin-right: 15px;
  margin-bottom: 20px;
}

/* dig page */

.did-you-mean  {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 30px;
  width: 50%;

}
.did-you-mean > div {
  margin-bottom: 12px
}
.did-you-mean > div:last-child {
  margin-bottom: 0px;
}

.did-you-mean div a {
  margin-left: 18px;
  margin-bottom: 7px;
  color: #777;
  display: inline-block;
  border: 1px solid #BBB;
  padding: 2px 6px;
  border-radius: 3px;
}

.did-you-mean div a:hover {
  color: green;
  background-color: #FFF;
  text-decoration: none;
  box-shadow: 1px 1px black;
  padding-right: 7px;
  margin-left: 17px;
}

.did-you-mean > a {
  margin-left: 20px;
}

/* home page */
.dig-img {
  background-image: url('../images/home-bg.jpg');
  width: 100%;
  height: 611px;
  -webkit-background-size: cover;
  background-size: cover;
}


.dig-img h1 {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 400%;
  font-weight: 300;
}


.dig-img h3 {
  font-weight: 300;
  text-shadow: 1px 2px black;
  color: #F8FCFF;
  line-height: 1.3;
}

.home-glyph {
  background-image: url('../images/index-glyphs.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.musicians-glyph {
  width: 200px;
  height: 225px;
}

.findMusic-glyph {
  background-position: -200px 0px;
  width: 185px;
  height: 225px;
}

.urHere {
  position: relative;
  top: 42px;
  left: 28px;
  transform: rotate(25deg) scale(1) skew(1deg) translate(0px);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.project-icons {
  /*color: #62c3d0; */
  font-size: 30px;
  text-align: center;
  margin-top: -5px;
}

.project-icons i {
  margin-right: 7px;
}

.project-glyph {
  background-position: -400px -0px;
  width: 155px;
  height: 114px;
  margin-top: 104px;
}

.partners {
  background-color: black;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.partners .panel-body {
  text-align: center;
  box-shadow: 6px 6px #868F94;
  background-color: #555;
}



.how .panel-body {
  text-align: center;
}

.how .panel-footer {
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}


/* mobile hacks here... */
@media screen and (min-width: 640px){
  .dig-img h1 {
    padding-top: 120px;
  }
}


@media screen and (max-width: 770px) {

  .btn-warning {
    display: none;
  }

  #qop form.form-inline {
    display: none;
  }

  .navbar-brand {
    margin-top: -8px;
  }

  #qop {
    margin: 0px
  }
}

@media screen and (max-width: 670px) {

  .upload-page .actions {
    text-align: center;
  }

  .upload-page .tags {
    padding-left: 35px;
  }

  .upload-page .remixes ul,
  .upload-page .trackbacks ul {
    max-height: 150px;
    overflow: auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px #ddd;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
  }

  .trackbacks h3 + a {
    display: none;
  }

  .no-hit-suggestion {
    display: none;
  }

  
}

