.play-list .artist-name > a:hover {
  border-bottom: 1px dashed;
}

.play-list > li {
  margin-bottom: 2px;
  font-size: 22px;
  white-space: nowrap;
}

.song-title > a {
  color: black;  
}

.song-title > a:hover{
  color: #999;
  text-decoration: none;
}

.artist-name > a:hover{
  text-decoration: none;
}


@media screen and (max-width: 670px) {

  .play-list > li {
    margin-bottom: 15px;
    white-space: normal;
  }

  .play-list > li .artist-name {
    display: block;
    margin-left: 60px;
  }

  ul.play-list  {
    margin-top: 18px;
  }

  .no-hit-suggestion {
    display: none;
  }
  
}

