# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/fastboot-dist
/vendor/bower_components_*

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
dig.ccMixter.bbprojectd
.DS_Store
build.log
