# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/built
/logs
/app/dig-browser.js
/dig
/pells

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
npm-debug.log
testem.log
.DS_Store
build.log
