# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/tmp-build
/app/index.js
app/mixins/index.js
app/components/index.js
app/components/stems/index.js
app/components/ccmixter/index.js
app/components/dig/index.js
app/components/pells/index.js
app/components/playlists/index.js
app/components/playlists/pages/index.js 
app/components/models/index.js 
app/components/bound/index.js 
app/components/services/index.js 
app/components/vanilla/index.js 

/logs
/bpm

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
npm-debug.log
testem.log
.DS_Store
build.log

# dev
js.js


app/components/playlists/pages/index.js

app/components/vanilla/index.js
