
body {
  font-family: Avenir Next, Verdana;
}

ul {
  list-style: none;
}

.log-viewer {
  margin-bottom: 60px;
}
.log-viewer .date {
  color: green;
  display: inline-block;
  margin-left: 6px;
}

.log-viewer .msg {
  color: blue;
  font-weight: bold;
}

.log-viewer .ua {
  font-style: italic;
  color: brown;
}

.log-viewer .url {
  font-weight: bold;
  margin-right: 4px;
  margin-left: 7px;
  min-width: 220px;
  display: inline-block;
}

.log-viewer .error,
.log-viewer .exception {
  color: red;
}

.log-viewer .ip {
  color: #999;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
  width: 160px;
}

.log-viewer span.ref a {
  margin-left: 11px;
  font-weight: 500;
  color: #337ab7;
  font-size: 11px;
}

.log-viewer div.dropdown {
  display: inline-block;
}

.log-viewer div.dropdown li {
  white-space: nowrap;;
  margin: 4px;
  font-family: monospace;
}

.filter-link { 
  display: inline-block;
}

ul.nav {
  margin: 30px;
}

ul.nav li {
  margin-right: 30px;
}

nav.navbar {
  background-color: #021C33 ;
}

nav.navbar button {
  background-color: beige;
}

nav.navbar select {
  background-color: #07072F ;
  color: white;
}

.log-filter {
  float: right;
  margin: 12px;
  padding: 7px;
  width: 210px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px #777;
}

.log-filter ul:before {
  content: 'filters';
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 6px;
  margin-bottom: 9px;
  padding: 5px;
}
.log-filter ul {
  margin: 4px;
  padding: 0px;
}

.log-filter li  {
  text-align: center;
  padding-top: 4px;
}
