
body {
  font-family: Avenir Next, Verdana;
}

ul {
  list-style: none;
}

.log-viewer {
  margin-bottom: 60px;
}
.log-viewer .date {
  color: green;
}

.log-viewer .msg {
  color: blue;
  font-weight: bold;
}

.log-viewer .ua {
  font-style: italic;
  color: brown;
}

.log-viewer .url {
  font-weight: bold;
  min-width: 220px;
  display: inline-block;
}

.log-viewer .error,
.log-viewer .exception {
  color: red;
}

.log-viewer .ip {
  color: #999;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
  width: 160px;
}

.log-viewer span.ref a {
  margin-left: 11px;
  font-weight: 500;
  color: #337ab7;
  font-size: 11px;
}

.log-viewer div.dropdown {
  display: inline-block;
}

.log-viewer div.dropdown li {
  white-space: nowrap;;
  margin: 4px;
  font-family: monospace;
}


ul.nav {
  margin: 30px;
}

ul.nav li {
  margin-right: 30px;
}

nav.navbar {
  background-color: #021C33 ;
}

nav.navbar button {
  background-color: beige;
}

nav.navbar select {
  background-color: #07072F ;
  color: white;
}

