/* audio player */

.audio-player {
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  z-index: 1030;
  line-height: 34px;
  height: 54px;
  background-color: #444;
  color: white;
  border-top: 1px solid white;
}

.playback-scrubber {
  margin: 0.5em;
  height: 22px;
  width: 200px;
  position: relative;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.playback-scrubber .bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  cursor: pointer;
}

.playback-scrubber .loaded {
  background-color: #CCC;
}

.playback-scrubber .position {
  background-color: #3399CC;
}

.audio-player .controls {
  float: left;
  margin-top: 4px;
}

.audio-player .controls .btn {
  padding: 6px 10px;
  color: white;
}

.audio-player .song-info a.upload-link {
  color: #FFF;
}

.audio-player .song-info a.user {
  color: #CCC;
}

.audio-player #playlist-button {
  margin-top: 5px;
}

@media screen and (max-width: 700px) {

  .audio-player .controls {
    float: none !important;
    width: 200px;
    margin: 0 auto;
    text-align: center;  
  }
}

