
body {
  font-family: Avenir Next, Verdana;
}

ul {
  list-style: none;
}

.text {
  line-height: 1.3;
  margin: 0 0 3px;
}

h1 small {
  font-weight: 300;
  text-shadow: 0px 0px;
}

.light-color, 
h5 span,
span.light-color a {
  color: #999;
  font-weight: 300;
}

.light-on-hover:hover {
  color:white;
}

.inlined,
.navbar .ember-view {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.outlet-wrap {
  min-height: 540px;
}

.dropdown-menu > li > a {
  width: 100%;
}

/* modals can be embedded in playlists so these
   need to get reset
   TODO: something other than this
*/
.modal {
  white-space: normal;
  font-size: 14px;
}

.page-banner {
  text-align: center;
  background-color: antiquewhite;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-banner a {
  display: inline-block;
  margin: 0px 8px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid;
  padding: 0px 4px;

}

.required::after {
  content: '*';
  color: #F88;
}

.loading-screen {
  opacity: 0.5;
}

.page-header h1 i {
  color: #777;
  text-shadow: 5px 5px 4px #ddd;
}

.page-header h1 {
  text-shadow: 1px 2px #ddd;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.footer {
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

/* This is gets added for the audio-player (in theory) */

.footer-pad {
  padding-bottom: 90px; 
}

.footer ul li a {
  color: white;
}

.footer h1 {
  margin-left: 40px;
}

.fa-heart {
  color: red;
}

.brand-glyph {
  background-image: url('../images/brands.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.artistech {
  background-position: 0px -50px;
}

.artistech:hover {
  background-position: 0px 0px;
}

.cc {
  background-position: -100px -50px;
}

.cc:hover {
  background-position: -100px 0px;
}

.ccmixter {
  background-position: -200px -50px;
}

.ccmixter:hover {
  background-position: -200px 0px;
}

.tunetrack {
  background-position: -300px -50px;
}

.tunetrack:hover {
  background-position: -300px 0px;
}

.gso-links .panel {
  background-color: white;
  border-radius: 18px;
  margin-top: 8px;
  color: #2B3E66;
}

.gso-links .panel-title {
  font-size: 30px;
  height: 135px;
  padding-top: 14px;
  font-weight: normal;
  width: 38%;
  padding-left: 20px;
}

.gso-links .panel-body {
  padding-bottom: 30px;
  font-size: 18px;
  min-height: 150px;
  padding-left: 40%;
  padding-top: 44px;
  font-weight: normal;
}

.gso-links .panel-footer {
  background-color: transparent;
  border-top: 1px solid #aaa;
}

.gso-links {
  background-color: #EEE;
  margin-bottom: 0px;
}

.gso-links.panel-group {
  padding-top: 84px;
  padding-bottom: 50px;

}

.paging {
  position: fixed;
  top: 200px;
  border-radius: 4px;
  border: 1px solid #DDD;
  background-color: #9d9d9d;
  opacity: 0.85;
  width: 180px;
  padding: 0px 0px 4px 10px;
  margin-left: 7px;
  color: white;
  z-index: 100;
}

.pagination a {
  font-size: 70%
}

@media screen and (max-width: 770px) {

  .paging {
    position: initial;
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: transparent;
    border: 0px;
  }

  .paging ul {
    margin: 0px;
  }

  .paging > div {
    display: none;
  }
}

@media screen and (max-width: 670px) {

  .page-header h1 small {
    display: block;
  }

  .page-header h1 {
    padding-left: 20px;
    padding-right: 20px;
  }

}

li.license-badge i { /* help icon */
  font-size: 125%;
  margin-left: 8px;
}

/* licenses popup */
.license-images img {
  display: block;
  margin: 20px auto 3px auto;
}

.license-images a {
  margin: 4px auto;
}

.license-description {
  padding: 12px 0px 12px 0px;
}

/* download popup */
a > small {
  font-size: 60%;
}
a > small::before {
  content: '('
}

a > small:after {
  content: ')'
}

.col-panel {
  background-color: #EEE;
  border-radius: 4px;
  padding: 12px;
  margin: 4px;
}

.col-panel textarea {
  max-width: 88%;
  opacity: 0.5;
}

.col-panel p {
  margin-top: 7px;
  margin-bottom: 15px;
}

.download-popup a.btn img {
  margin-right: 8px;
  margin-left: -8px;
}

.credits li {
  margin-bottom: 12px;
}
.credits .label {
  display: inline-block;
  color: black;
  width: 35%;
  text-align: right;
}

.credits a {
  text-transform: lowercase;
  margin-right: 9px;
}

.well.error-page {
  width: 50%;
  margin: 30px auto;
}

div.well.error-page > code {
  display: none;
}