/* public shared css */

body {
  font-family: Avenir Next, Verdana;
}

ul {
  list-style: none;
}

.text {
  line-height: 1.3;
  margin: 0 0 3px;
}

h1 small {
  font-weight: 300;
  text-shadow: 0px 0px;
}

.light-color, 
h5 span,
span.light-color a {
  color: #999;
  font-weight: 300;
}

.light-on-hover:hover {
  color:white;
}

.inlined,
.navbar .ember-view {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.outlet-wrap {
  min-height: 540px;
}

.dropdown-menu > li > a {
  width: 100%;
}

.img-circle {
  box-shadow: 4px 4px 8px #999;
  margin-right: 15px;
  margin-bottom: 20px;
}

.system-alert.alert {
  width: 60%;
  margin: 10px auto;
}

.system-alert.alert strong {
  margin-right: 12px;
  display: inline-block;
}

/* modals can be embedded in playlists so these
   need to get reset
   TODO: something other than this
*/
.modal {
  white-space: normal;
  font-size: 14px;
}


.required::after {
  content: '*';
  color: #F88;
}

.loading-screen {
  opacity: 0.5;
}

.page-header h1 > i {
  color: #777;
  text-shadow: 5px 5px 4px #ddd;
}

.page-header h1 {
  text-shadow: 1px 2px #ddd;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.footer {
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

/* This is gets added for the audio-player (in theory) */

.footer-pad {
  padding-bottom: 90px; 
}

.footer ul li a {
  color: white;
}

.footer h1 {
  margin-left: 40px;
}

.fa-heart {
  color: red;
}



@media screen and (max-width: 670px) {

  .page-header h1 small {
    display: block;
  }

  .page-header h1 {
    padding-left: 20px;
    padding-right: 20px;
  }

}

li.license-badge i { /* help icon */
  font-size: 125%;
  margin-left: 8px;
}

/* licenses popup */
.license-images img {
  display: block;
  margin: 20px auto 3px auto;
}

.license-images a {
  margin: 4px auto;
}

.license-description {
  padding: 12px 0px 12px 0px;
}

/* download popup */
a > small {
  font-size: 60%;
}
a > small::before {
  content: '('
}

a > small:after {
  content: ')'
}

.col-panel {
  background-color: #EEE;
  border-radius: 4px;
  padding: 12px;
  margin: 4px;
}

.col-panel textarea {
  max-width: 88%;
  opacity: 0.5;
}

.col-panel p {
  margin-top: 7px;
  margin-bottom: 15px;
}

.download-popup a.btn img {
  margin-right: 8px;
  margin-left: -8px;
}

.watch-a-yt-video {
  margin: 7px;
  text-align: center;
}

.credits li {
  margin-bottom: 12px;
}
.credits .label {
  display: inline-block;
  color: black;
  width: 35%;
  text-align: right;
}

.credits a {
  text-transform: lowercase;
  margin-right: 9px;
}

.well.error-page {
  width: 50%;
  margin: 30px auto;
}

div.well.error-page > code {
  display: none;
}