'use strict';

global.IS_SERVER_REQUEST = false;

var React = require('react');
var ReactDOM = require('react-dom');
var app = require('./{app}');

ReactDOM.render( React.createElement(app),  document.getElementById('content') );

