/* pells audio-player */

.audio-player .waveimage {
  width: 200px;
}

.audio-player .position.bar {
  opacity: 0.5;
}

.audio-player .loaded.bar {
  opacity: 0.3;
  background-color: green;
}

.audio-player .bar.waveimage {
  opacity: 1.0;
}

.audio-player polyline {
  stroke: black;
  stroke-opacity: 1.0;
  stroke-width: 0.2;
  fill:none;
  stroke-linecap: round;
}
