
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #215B22 0%, #41B541 100%);
  background-image: -o-linear-gradient(top, #215B22 0%, #41B541 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#215B22), to(#41B541));
  background-image: linear-gradient(to bottom, #215B22 0%, #41B541 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c55', endColorstr='#ff41B541', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  padding-bottom: 7px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 8px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #C5EF1D;
}

.loading-screen {
  opacity: 0.5;
}

.footer {
  background-color: #2B772C;
}

.stems-img {
  background-image: url('../images/front-page.jpg');
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
}

.stems-img h1 {
  color: white;
  margin-top: 50px;
  font-size: 40pt;
  max-width: 440px;
  text-shadow: 3px 3px black;
 }

.stems-img h3 {
  color: antiquewhite;
  max-width: 440px;
  text-shadow: 2px 2px black;
}

