.stems-browser .paging {
  position: relative;
  top: 0px;
  left: 0px;
  width: 180;
  background-color: rgba(245, 253, 216, 0);
  border: 0px;
  margin: 0px auto;
}

.stems-browser .paging > ul {
  margin: 0px;
}

.stems-browser .pagination > li > a {
  color: green;
}

.stems-browser .pagination >  .disabled  > a {
  color: #777;
} 
.stems-browser .paging > div {
  margin: 0px;
  padding: 0px;
  color: black;  
}

.stems-browser .stems-tags-widget {
  margin-left: 25px;
  padding: 15px 5px;
}
.stems-browser .stems-tags-widget .input-group {
  width: 220px;
  margin-bottom: 0px;
  margin: 4 auto; 
}

.stems-browser ul.tags-list {
   height: 360px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    width: 220px;
    background-color: white;
    margin: 0 auto;
}

.stems-browser ul.tags-list > li {
  padding: 0 4px 0 4px;
  margin-bottom: 3px;
  cursor: pointer;
  border: 1px solid transparent;
}

.stems-browser ul.tags-list > li:hover {
  border: 1px solid black;
}

.stems-browser ul.tags-list > li > i.fa {
  vertical-align:middle;
  display: inline-block;  
}

.stems-browser .selected-tags {
  margin: 15px;
  padding: 8px;
  /* min-height: 50px; */
}

.stems-browser .selected-tags .btn-tag {
  display: inline-block;
  margin: 4px 6px;;
  border: 1px solid green;
  padding: 2px 4px;
  border-radius: 3px;
  color: green;
  text-decoration: none;
}

.stems-browser .selected-tags .btn-tag:hover {
  text-decoration: none;
  background-color: #FCC;
  box-shadow: 2px 2px #999;
  color: red;  
}

.stems-browser .selected-tags .btn-tag .fa-2x {
  font-size: 13px;
}

.stems-browser .stems-files {
  margin-top: 8px;
}
.stems-browser .stems-files > li {
  margin-bottom: 4px;
  cursor: default;
  display: inline-block;
  min-width: 120px;
  margin-right: 10px;
  background-color: #CCC;
  border-radius: 4px;
  padding-right: 7px;
}

.stems-browser .stems-files > li .ext {
   text-transform: uppercase;
   border: 1px solid #AAA;
   background-color: #EEE;
   padding: 2px;
   border-radius: 3px;
   font-size: 10px;
}

.stems-browser .stems-files > li .nic {
   text-transform: lowercase;
   font-size: 12px;
}

.stems-browser .stems-files > li > a.btn-lg,
.stems-browser .stems-files > li > span > button.sm-download {
  padding: 4px 6px;
  font-size: 14px;
}

.stems-browser .stem-name {
  font-weight: bold;
  margin-right: 15px;
}

.stems-browser .stems-listing-widget {
      border: 1px solid #7DCF1F;
      border-radius: 7px ;
      padding: 9px;
      background-color: rgba(246, 249, 237, 0.22);
}

.stems-browser .zip-contents {
  padding: 0px;
  top: 100px;
  position:fixed;
}

.stems-browser .zip-contents > li {
  white-space: pre;
  font-size: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-bottom: 5px;
}

.stems-browser .zip-contents > li.head {
  font-weight: bold;
  font-size: 16px;
}

.stems-browser .zip-contents > li.sub-head {
  border-bottom: 1px solid #999;
  font-size: 13px;
  margin-bottom: 12px;
}
