/* stems tags css */

.stems-browser .stems-tags-widget {
  margin-left: 25px;
}

.stems-browser .stems-tags-widget .tab-content {
  padding-top: 14px;
}

.stems-browser .stems-tags-widget .input-group {
  width: 170px;
  margin: 4 auto; 
  margin-bottom: 10px;
}

.stems-tags-widget span.badge {
  background-color: #9AB52F;
}

.stems-browser .stems-tags-widget .tab-content {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.stems-browser ul.tags-list {
  height: 360px;
  overflow: auto;
  padding: 8px;
  width: 220px;
  background-color: white;
  margin: 0 auto;
}

.stems-browser ul.tags-list > li {
  padding: 0 4px 0 4px;
  margin-bottom: 3px;
  cursor: pointer;
  border: 1px solid transparent;
}

.stems-browser ul.tags-list > li:hover {
  border: 1px solid black;
}

.stems-browser ul.tags-list > li > i.fa {
  vertical-align:middle;
  display: inline-block;  
}

.bounding-fixed {
  position: fixed;
}

.stems-browser .selected-tags {
  padding: 8px;
  background-color: #9AB52F;
  min-height: 50px;
  width: 100%;
  text-align: center;
  z-index: 200;
  position: absolute;
}

.stems-browser .selected-tags .btn-tag {
  display: inline-block;
  margin: 4px 6px;;
  border: 1px solid green;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  color: green;
  text-decoration: none;
  box-shadow: 1px 1px #389E39;
  background-color: antiquewhite;
}

.stems-browser .selected-tags .btn-tag:hover {
  padding: 2px 3px 2px 5px;
  text-decoration: none;
  box-shadow: 1px 1px #CCC;
  color: red;  
  border-color: red;
}

.stems-browser .selected-tags .btn-tag .fa-2x {
  font-size: 13px;
}

.stems-tags-widget .related-tags ul.tags-list {
  font-weight: bold;
  color: green;
  height: 150px;
  margin-bottom: 15px;
}

.no-selected-tags {
  color: white;;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px black;
  letter-spacing: 3.0;
}