/* stems - css */

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #215B22 0%, #41B541 100%);
  background-image: -o-linear-gradient(top, #215B22 0%, #41B541 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#215B22), to(#41B541));
  background-image: linear-gradient(to bottom, #215B22 0%, #41B541 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c55', endColorstr='#ff41B541', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  padding-bottom: 7px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 8px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #C5EF1D;
}

.featured-menu > li > a > .imgh {
  margin-right: 20px;
}

.featured-menu > li > a > .imgh img {
  border-radius: 12px;
}

.loading-screen {
  opacity: 0.5;
}

.footer {
  background-color: #2B772C;
}

.stems-img {
  background-image: url('../images/front-page.jpg');
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
}

.stems-img h1 {
  color: #fff;
  margin-top: 50px;
  font-size: 40pt;
  max-width: 440px;
  text-shadow: 1px 1px #000;
  font-weight: 300;
}

.stems-img h3 {
  color: #B2D52F;
  max-width: 440px;
  text-shadow: 1px 1px #338D34;
  font-weight: 300;  
}

.gso-links.panel-group  div.panel-body {
  min-height: 200px;
}

.gso-links .panel-title {
  width: 48%;
}

.gso-links.panel-group {
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 20px;
}

.query-options-box {
  width: 230px;
  position: absolute;
  right: 10px;
  z-index: 100;
}

.flac-tester {
  margin: 12px;
  padding: 0px;
}

.flac-tester > li {
  margin-bottom: 14px;
}

.flac-tester > li > label {
  margin-bottom: 22px;
  font-size: 20px;
}