/* stems upoad css */

.stems-upload-widget .ccmixter-link {
  float: right;
}

.stems-upload-widget .btn-tag {
  margin: 4px;
}

.stems-upload-widget .stems-browser .stems-listing > li .bpm {
 margin-top: 0px; 
}

.stems-upload-widget .upload-tags {
  margin: 12px 4px;
}

.stems-upload-widget .related .related-list {
  padding: 0px;  
}

.stems-upload-widget .related .related-list .nothing-here {
  text-align: center;
  display: block;
}

.stems-upload-widget .related .related-list li > a.upload {
  font-weight: bold;
}