/* stems-files css */

.stems-browser .stems-files {
  margin-top: 8px;
  padding: 0px 12px 0px 13px;
}

.stems-browser .stems-files > li {
  cursor: default;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  min-width: 120px;
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 14px;
  margin-bottom: 8px;
}

.stems-browser .stems-files > li .ext {
   text-transform: uppercase;
   background-color: #FFF;
   padding: 2px;
   border-radius: 3px;
   font-size: 10px;
   color: black;
   box-shadow: 1px 1px #666;
   margin-right: 6px;
   margin-left: 4px;
}

/* nic name */
.stems-browsers .stems-files > li > span:nth-child(3) {
  min-width: 30px;
  display: inline-block;
}

.stems-browser .stems-files > li .nic {
   text-transform: lowercase;
   font-size: 12px;
   max-width: 87px;
   display: inline-block;
   overflow: hidden;
   vertical-align: middle;
}

.stems-browser .stems-files > li > a.btn-lg,
.stems-browser .stems-files > li > span > button.sm-download {
  padding: 4px;
  font-size: 14px;
}

/* download button */
.stems-browser .stems-files > li > span:nth-child(1) {
  display: inline-block;
  float: right;
}


.stems-browser .stems-files > li.hi-hi {
  font-weight: bold;
}

.stems-browser .stems-files > li.hi-hi > span div {
  font-weight: normal;
}

.stems-browser .stems-files > li.lo-hi {
}

/* play button */
li.stem-files-line > a.btn.btn-info {
  background: #3CA73C;
}

li.stem-files-line > a.btn.btn-info.disabled {
  background: #999;
  border: 0px;
}


.stems-detail {
  display: none;
}