/* stems paging css */

.stems-browser .paging {
  text-align: center;
}

.stems-browser .paging > ul {
  margin-bottom: 5px;
}

.stems-browser .pagination > li > a {
  font-size: 70%;
  color: green;
}

.stems-browser .pagination >  .disabled  > a {
  color: #777;
} 

.stems-browser .paging > div.paging-caption {
  margin: 0px;
  padding: 0px;
  color: black;  
}

.stems-browser .paging > label.limit-label {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  border: 2px white;
  color: black;
  margin: 10px 0px 10px 0px;
}

.stems-browser .paging > label.limit-label > span {
  width: 50%;
  margin-right: 9px;
}

.stems-browser .paging > label.limit-label > select {
  width: 50px;
  display: inline-block;
  font-size: 12px;
  height: initial;
}
